
body, html{
    height: 100%;
}

/**************
      Header
**************/
.title{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 35pt;
    display: flex;
    justify-content: center;

    color: white;
    padding-top: 40px;
}


/**************
      Body
**************/

.page-container{
    display: flex;
    flex-direction: row;

    height: 100%;
}

.squad-chat-img{
    width: 350px;
    height: 100%;
}

.menu{
    position: absolute;
    top: 20px;
    right: 370px;
}

.exit{
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-icon{
   color: white;
}

.exit-icon{
   color: white;
}

.main-panel{
    background-image: url("../img/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}

.row{ /** just the panel itself, not including title */
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/**************
      Subinterfaces
**************/



.all-subinterfaces {
    margin-top: 50px;
    padding: 30px 0px;
    opacity: 0.6;
}


.subinterface-content{
    background-color: #f8f8ff;
    border-radius: 10px;

    padding: 15px;
    margin-bottom: 30px;

    text-align: center;
}
